footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;

  width: 37.5rem;
  height: 7rem;

  background: #ffffff;
  box-shadow: 0px -0.4rem 0.6rem rgba(0, 0, 0, 0.05);
}

footer div {
  align-items: center;
  justify-content: center;
}

footer h2 {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;

  text-align: center;

  color: #333333;
}

.resultado {
  width: 37.5rem;
  height: 17.1rem;

  background: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.resultado > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resultado h2 {
  padding-top: 1rem;
}

.party {
  display: flex;
  gap: 1.2rem;
}

.valores {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.resultado p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.emoji {
  display: flex;
  gap: 1.3rem;
}

.organizar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 1rem;
}
