.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fb6b6b;

  height: 0 auto;

  padding-bottom: 8rem;
}

.topo {
  display: flex;
  margin: 4.2rem 6rem 5.1rem 5.9rem;
}

.topo h1 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.section h1 {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;

  color: #ffffff;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.5rem;

  width: 30rem;
  height: 6.5rem;

  background: #ffffff;
  box-shadow: 0px 0.4rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.card p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;

  color: #333333;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  margin-top: 0rem;

  width: 37.5rem;
  height: 7rem;

  background: #ffffff;
  box-shadow: 0px -0.4rem 0.6rem rgba(0, 0, 0, 0.05);
}

footer h2 {
  position: absolute;
  width: 14.5rem;
  height: 2.2rem;

  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;

  color: #333333;
}

.pergunta {
  width: 33rem;
  height: 13.1rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background: #ffffd5;
  box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.icon {
  width: 95%;
  display: flex;
  justify-content: flex-end;

  margin-bottom: 0.6rem;
}
.pergunta p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;

  margin: 1.8rem 0 0 1.5rem;

  color: #333333;

  margin-top: 1.2rem;
}

.pergunta button {
  width: 8.5rem;
  height: 3.7rem;

  color: #ffffff;

  border: none;

  border-radius: 5px;

  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
}

.ButaoEstilo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.6rem;
}

.Bvermelho {
  background: #ff3030;
}

.NaoLembrei,
.Quase,
.zap {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration-line: line-through;
}

.NaoLembrei {
  color: #ff3030;
}

.Quase {
  color: #ff922e;
}

.zap {
  color: #2fbe34;
}

.Bamarelo {
  background-color: #ff922e;
}

.Bverde {
  background-color: #2fbe34;
}
